/*====================================================================
 * FILE: main_stylesheet.css
 * DESC: Foglio di stile principale consolidato.
 * Unisce tutti i file statici CSS locali per l'ottimizzazione (riduzione delle richieste HTTP).
 *====================================================================*/


/* alert.css*/
.alert {
    margin: 20px auto;
    padding: 20px;
    height: auto;
    width: 100%;
    border-radius: 10px;
    color: var(--dark-text);
    background: var(--neutral-color);
    box-shadow: 0 4px 4px 0 var(--shadow-color), 0 4px 20px 0 var(--shadow-color);
}

.alert-warning {
    color: var(--warning-text);
    background: var(--warning);
}

.alert-danger {
    color: var(--danger-text);
    background: var(--danger);
    border: var(--danger);
}

/*checkbox.css*/
/* Container di un checkbox*/
.checkbox-container .checkbox-label {
    margin-top: 0;
}
/* Stile della label che contiene il checkbox*/
.checkbox-label {
    display: block;
    position: relative;
    margin: auto;
    cursor: pointer;
    font-size: 22px;
    line-height: 24px;
    height: 37px;   /*24*/
    width: 37px;    /*24*/
    clear: both;
}
/* Stile dell'effettivo campo input*/
.checkbox-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
/* Stile dello span  per personalizzare il checkbox*/
.checkbox-label .checkbox-custom {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 37px;   /*24*/
    width: 37px;    /*24*/
    background-color: transparent;
    border-radius: 10px;
    transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    border: 4px solid var(--accent-color);
}
.checkbox-label .checkbox-custom:hover {
    background: var(--accent-color);
}

/* Stile personalizzato del checkbox quando è selezionato*/
.checkbox-label input:checked ~ .checkbox-custom {
    background-color: var(--accent-color);
    border-radius: 10px;
    -webkit-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
    opacity:1;
    border: 4px solid var(--accent-color);
}

/* Stile della spunta non selezionata*/
.checkbox-label .checkbox-custom::after {
    position: absolute;
    content: "";
    left: 12px;
    top: 12px;
    height: 0px;
    width: 0px;
    border-radius: 10px;
    border: solid var(--accent-color);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(0deg) scale(0);
    -ms-transform: rotate(0deg) scale(0);
    transform: rotate(0deg) scale(0);
    opacity:1;
    transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
}

/* Stile della spunta selezionata*/
.checkbox-label input:checked ~ .checkbox-custom::after {
    -webkit-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
    opacity:1;
    left: 9px;      /*8*/
    top: 5px;       /*3*/
    width: 10px;     /*6*/
    height: 16px;   /*12*/
    border: solid var(--neutral-color);
    border-width: 0 4px 4px 0;
    background-color: transparent;
    border-radius: 0;
}


/* dashboard.css */
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 40px;
}
.grid-item {
    margin: 0;
    padding: 9.2px;
    height: 168px;
    width: 168px;
    border-radius: 10px;
    border: 1px solid var(--neutral-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--accent-color);
    background: var(--neutral-color);
    box-shadow: 0 4px 4px 0 var(--shadow-color), 0 4px 20px 0 var(--shadow-color);
}
.grid-item:hover {
    color: var(--accent-color-light);
    border: 1px solid var(--accent-color-light);
    box-shadow: 0 4px 4px 0 var(--accent-shadow-color), 0 4px 20px 0 var(--accent-shadow-color);
}
.grid-item:visited {
    color: var(--accent-color);
}
.grid-item:visited:hover {
    color: var(--accent-color-light);
    border: 1px solid var(--accent-color-light);
    box-shadow: 0 4px 4px 0 var(--accent-shadow-color), 0 4px 20px 0 var(--accent-shadow-color);
}
.grid-item svg {
    margin-top: 15px;
    width: 96px;
    height: 96px;
    fill: currentColor;
}
.grid-item label {
    margin-top: auto;
    font-weight: bold;
    text-align: center;
}
#dashboard-links-medic .item5 {
    grid-column-start: 2;
    grid-column-end: 4;
    width: auto;
}

#dashboard-links-storage .item2 {
    grid-column-start: 2;
    grid-column-end: 4;
    width: auto;
}
#dashboard-links-storage .item3 {
    grid-column-start: 1;
    grid-column-end: 4;
    width: auto;
}

/* error.css */

#page-content > #error-box {
    margin-top: 50px;
    width: 490px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-self: center;
}

#error-code {
    margin: 0 auto 20px auto;
}
#error-name {
    margin: 0 auto 0 auto;
}
#error-message {
    margin: 0 auto 20px auto;
}

#error-box a {
    width: 100%;
}

/* form */
.form {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.form label {
    margin: 10px 0 5px 0;
    font-weight: bold;
    color: var(--medium-text);
}

.form .input-field {
    margin: 5px 0 15px 0;
    padding: 10px 0;
    width: 100%;
    font-size: 1em;
    font-family: "Titillium Web", sans-serif;
    color: var(--medium-text);
    background: var(--neutral-color);
    border-radius: 0;
    border: 0;
    border-bottom: 2px solid var(--medium-text);
}
.form .input-field:focus {
    outline: none;
    caret-color: var(--main-color);
    border-bottom: 2px solid var(--main-color);
}

.submit-button {
    margin-top: 10px;
    margin-bottom: 0;
    width: 100%;
    border-radius: 10px;
    font-size: large;
}

.form .title-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.form .title-section .title {
    margin-top: 0;
}

.form .inactive {
    pointer-events: none;
    border-bottom: 2px solid var(--transparent);
}

/* Style of a row of multiple input fields */
.form .input-fields-row {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.form .input-fields-row .field {
    width: 40%;
    display: flex;
    flex-direction: column;
}
.form .input-fields-row .left {
    margin-right: auto;
}
.form .input-fields-row .middle {
    margin-right: auto;
    margin-left: auto;
}
.form .input-fields-row .right {
    margin-left: auto;
}


.form-section-buttons {
    margin-left: auto;
    margin-right: 0;

}

.save-button {
    margin-right: 0;
    margin-left: 10px;
}

.edit-button {
    margin-left: auto;
    margin-right: 0;
}

.validity-paragraph {
    margin-top: 0;
}

/* header.css */
#welcome-header {
    height: 70px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: var(--neutral-color);
}

#welcome-header .logo {
    margin: 0px;
    margin-top: 5px;
    padding: 5px;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#welcome-header .logo img {
    margin: 0px;
    height: 64px;
    width: auto;
}

#welcome-header nav {
    margin: 0px 20px 0px auto;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#welcome-header nav a {
    padding: 16px;
    border: none;
    border-bottom: 5px solid var(--transparent);
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    vert-align: middle;
    color: var(--accent-color);
}
#welcome-header nav a:hover {
    color: var(--accent-color-light);
    border-bottom: 5px solid var(--accent-color-light);
}



#user-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#user-header .logo {
    margin: 20px 20px 0px 20px;
    width: auto;
}
#user-header .logo img {
    margin: 0;
    width: 280px;
}
/* index.css */
#welcome-picture {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--neutral-color);
}

#welcome-picture #picture-container {
    margin: 20px;
    padding: 0px;
    width: 1200px;
    position: absolute;
    align-items: center;
}

#picture-container img {
    border-radius: 20px;
    width: 1200px;
}

#picture-container .text {
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--light-text);
    background: var(--main-color);
    box-shadow: 0 4px 4px 0 var(--shadow-color), 0 4px 20px 0 var(--shadow-color);
}
#picture-container .text .pic-title {
    margin: 0px;
}

#picture-container .main {
    position: relative;
    top: -170px;
    left: 50px;
    width: 1000px;
}

#picture-container .secondary {
    position: relative;
    top: -570px;
    left: 820px;
    width: 345px;
}

#welcome-picture-spacer {
    width: 100%;
    height: 200px;
}


#home-info {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    background: var(--accent-color);
}

#home-info .info-row {
    padding: 20px 50px;
    width: 50%;
    color: var(--light-text);
}
#home-info .left {
    margin-right: auto;
    margin-left: 5%;
    text-align: left;
}
#home-info .right {
    margin-left: auto;
    margin-right: 5%;
    text-align: right;
}
#home-info p {
    text-align: justify;
}

/* page.css */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

/*** Base Colours, Style and Typography used in the website ***/
/*Colours used in the website*/
:root {
    /*Basic colours used in the website*/
    --main-color: #003366;
    --main-color-light: #073765;    /*Used for hover*/
    --main-color-dark: #00284d;     /*Used for inactive elements*/
    --accent-color: #0059B3;
    --accent-color-light: #0e62b6;  /*Used for hover*/
    --accent-color-dark: #014993;   /*Used for inactive elements*/
    --neutral-color: #FFFFFF;
    --secondary-color: #5C6F82;
    --secondary-color-light: #686f7c;
    --secondary-color-dark: #38444F;
    /*Colours for text*/
    --light-text: #F5F5F0;
    --medium-text: #5A6772;
    --dark-text: #1C2024;
    /*Colours fot shadows and transparent elements*/
    --shadow-color: rgba(0, 0, 0, 0.1);
    --accent-shadow-color: rgba(0, 89, 179, 0.2);
    --transparent: rgba(0, 0, 0, 0);
    /*Colours fot status*/
    --avaliable: #099f09;
    --unavaliable: #9d0b0b;
    --warning: #ffff4b;
    --warning-text: #727224;
    --danger: #9d0b0b;
    --danger-text: #4f0606;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Titillium Web", sans-serif;
    color: var(--dark-text);
    background: var(--main-color);
}

#page-content {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--main-color);
}



h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: var(--accent-color);
}
a:hover {
    color: var(--accent-color-light);
}
a:visited {
    color: var(--main-color);
}
a:visited:hover {
    color: var(--main-color-light);
}

.logo {
    margin: 10px;
    padding: 10px;
    width: 100px;
    height: auto;
}

.row {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
}
.row > *{
    padding: 0;
    margin: auto;
    width: auto;
}

.column {
    display: flex;
    flex-direction: column;
}

.right {
    margin-right: 0;
    margin-left: auto;
}

.left {
    margin-right: auto;
    margin-left: 0;
}

.status-available {
    color: var(--avaliable);
}
.status-unavailable {
    color: var(--unavaliable);
}

.hidden {
    display: none;
}

/*** UI elements used in different pages ***/
.box {
    margin: 20px auto;
    padding: 20px;
    height: auto;
    width: auto;
    border-radius: 10px;
    color: var(--dark-text);
    background: var(--neutral-color);
    box-shadow: 0 4px 4px 0 var(--shadow-color), 0 4px 20px 0 var(--shadow-color);
}
.box-in {
    margin: 10px auto auto auto;
    padding: 10px;
    height: auto;
    width: auto;
    border-radius: 10px;
    color: var(--dark-text);
    background: var(--neutral-color);
    box-shadow: 0 4px 4px 0 var(--shadow-color), 0 4px 20px 0 var(--shadow-color);
}
.box .box {
    margin-bottom: 0;
}


#page-content > .box {
    width: 630px;
}
#page-content > #alert-box {
    width: 630px;
}
#page-content > #login-box {
    width: 520px;
}
#page-content > #login-error {
    width: 520px;
}

#box-name-row {
    margin-bottom: 10px;
}

#box-name-row .title {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    font-weight: 600;
}

#box-name-row #user-details-link {
    margin-left: auto;
    margin-right: 10px;
}
#box-name-row #user-logout-link {
    margin-left: 0;
    margin-right: 0;
}
#box-name-row button {
    padding: 0;
    cursor: pointer;
}
#box-name-row .icon {
    text-decoration: none;
    color: var(--accent-color);
    background: transparent;
    border: none;
}
#box-name-row .icon:hover {
    color: var(--accent-color-light);
}
#box-name-row .icon:visited {
    text-decoration: none;
    color: var(--accent-color);
}
#box-name-row .icon:visited:hover {
    color: var(--accent-color-light);
}

.icon {
    padding: 0;
    width: 42px;
    height: 42px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    fill: currentColor;
}

#status-icon {
    margin: auto 20px auto 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}


.button-primary-m {
    margin: 0;
    padding: 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: medium;
    font-weight: bold;
    color: var(--light-text);
    background:  var(--accent-color);
}
.button-primary-m:hover {
    background:  var(--accent-color-light);
}

.button-secondary-m {
    margin: 0;
    padding: 13px;
    border-radius: 5px;
    cursor: pointer;
    font-size: medium;
    font-weight: bold;
    color: var(--accent-color);
    background: var(--neutral-color);
    border: 2px solid var(--accent-color);
}
.button-secondary-m:hover {
    color: var(--light-text);
    background: var(--accent-color);
}
.button-secondary-s {
    margin: 0;
    padding: 13px;
    border-radius: 5px;
    cursor: pointer;
    font-size: medium;
    font-weight: bold;
    color: var(--accent-color);
    background: var(--neutral-color);
    border: 2px solid var(--accent-color);
}
.button-secondary-s:hover {
    color: var(--light-text);
    background: var(--accent-color);
}

.button-tertiary-m {
    margin: 0;
    padding: 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: medium;
    font-weight: bold;
    color: var(--light-text);
    background:  var(--secondary-color);
}
.button-tertiary-m:hover {
    background:  var(--secondary-color-light);
}

.button-tertiary-s {
    margin: 0;
    padding: 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: medium;
    font-weight: bold;
    color: var(--light-text);
    background:  var(--secondary-color);
}
.button-tertiary-s:hover {
    background:  var(--secondary-color-light);
}

.rounded {
    padding: 5px 15px;
    height: 40px;
    width: auto;
    border-radius: 10px !important;
}

/* Contenitore della paginazione */
.pagination-container {
    width: 100%; /* o lascia senza width */
    display: flex;
    justify-content: center;
    margin: 20px 0;
}


/* Lista dei numeri di pagina */
.pagination {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

/* Singolo elemento della pagina */
.pagination .page-item {
    margin: 0 5px;
}

/* Link della pagina */
.pagination .page-link {
    display: block;
    padding: 8px 12px;
    text-decoration: none;
    color: #054789;
    border: 1px solid #dee2e6;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

/* Hover sui link */
.pagination .page-link:hover {
    background-color: #e9ecef;
    color: #003366;
}

/* Pagina attiva */
.pagination .page-item.active .page-link {
    background-color: #054789;
    color: #fff;
    border-color: #054789;
    cursor: default;
}

/* Disabilita il click sui link della pagina attiva */
.pagination .page-item.active .page-link:hover {
    background-color: #003366;
    color: #fff;
}

/* Frecce di navigazione */
.pagination .page-link span {
    font-size: 16px;
}

/* patientDetails.css */


#patient-data-form #status {
    margin: auto 0px;
    width: 200px;
}

#patient-data-buttons {
    margin-right: 0px;
    margin-left: auto;
}
#patient-data-buttons #save-patient-button {
    margin-right: 0px;
    margin-left: 10px;
}
#patient-status-button {
    margin-right: 0px;
    margin-left: auto;
}
#therapy-buttons {
    margin-right: 0px;
    margin-left: auto;
}
#delete-therapy-button {
    margin-right: 10px;
}

#new-medicines, #saved-medicines {
    width: 100%;
}

/* planner.css */
#planner-top-bar {
    margin: 0;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#today-button {
    margin-left: 0;
    margin-right: auto;
}

#week-selector {
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.chevron {
    width: 32px;
    height: 32px;
    cursor: pointer;
    color: var(--accent-color);
}
.chevron-inactive {
    width: 32px;
    height: 32px;
    cursor: default;
    color: var(--medium-text);
}
#actual-week {
    margin: 0 auto;
}

#add-new-appointments {
    margin-left: auto;
    margin-right: 0;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid var(--transparent);
}
#add-new-appointments:hover {
    border: 2px solid var(--accent-color);
}



#planner-appointments-section {
    padding: 10px;
}

.planner-row {
    margin: 0 10px;
    padding: 5px 0 5px 0;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.planner-column {
    margin: 10px auto;
    width: 82px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.planner-time {
    margin: 0 auto auto 0;
    width: 60px;
    align-items: end;
}
.planner-time > * {
    margin-left: auto;
    margin-right: 0;
}

#planner-days-row {
    margin: 0 10px;
    padding: 10px;
    width: 100%;
}
#planner-days-row .planner-column {
    margin: 0 auto;
}
.planner-day-name {
    margin: 0 auto 0 auto;
    height: 24px;
}
.planner-day-number {
    margin: 0 auto 0 auto;
    height: 20px;
}

.appointments-row .planner-appointment {
    margin: 4px auto;
    padding: 5px;
    border-radius: 10px;
    border: none;
    color: var(--light-text);
    background: var(--main-color);
}
.appointments-row .empty {
    padding: 5px;
    border-radius: 10px;
}



#planner-appointments-rows {
    height: 220px;
    overflow-x: hidden;
    overflow-y: scroll;
}
#planner-appointments-rows hr {
    margin: 0 20px 0 10px;
    border: 1px solid var(--light-text);
}

.appointment-patients-number {
    margin: auto;
    text-align: center;
}

.planner-time .time {
    margin-top: 0;
    margin-right: 0;
}

.planner-scroll {
    width: 30px;
}

/* search.css */
#search-form .search-field {
    padding: 10px;
    border-radius: 15px;
    border: 2px solid var(--transparent);
    box-shadow: inset 0px 0px 20px 10px var(--shadow-color);
}
#search-form .search-field:focus {
    outline: none;
    caret-color: var(--main-color);
    border: 2px solid var(--main-color);
}
#search-form #search-filters {
    width: 100%;
}
#search-form #search-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#search-filters-button {
    margin-right: auto;
    margin-left: 0;
}
#search-request-button {
    margin-right: 0;
    margin-left: auto;
}

.result-box-container {
    margin: 0;
}

.result-box-container button {
    margin-bottom: 0;
    width: 100%;
    border: none;
}

.result-box-container button:hover {
    cursor: pointer;
    box-shadow: 0 4px 4px 0 var(--accent-shadow-color), 0 4px 20px 0 var(--accent-shadow-color);
}

.result-box-container .first-row {
    display: flex;
    flex-direction: row;
    align-items: start;
    width: 100%;
}

.result-box-container .first-row .left {
    text-align: left;
}

.result-box-container .result-name {
    margin-top: 0;
}

.result-box-container .left {
    margin-left: 0;
    margin-right: auto;
}
.result-box-container .right {
    margin-left: auto;
    margin-right: 0;
}

.result-title {
    margin-bottom: 0;
}

.result-box-container .no-result {
    margin: 50px auto 30px auto;
    text-align: center;
}


/*--------------------------------------------------------------------
 * END OF FILE
 *--------------------------------------------------------------------*/